<nav class="navbar fixed-top navbar-expand-lg navbar-dark indigo lighten-1 scrolling-navbar" id="thenav">
    <img src="/images/matchaLogo.png" class="navbar-brand" width="120">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active"> -->
      <li class="nav-item">
        <a class="nav-link" href="/signup">SignUp </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
<div id="page-content" >