<%- include('header'); %>
<section class="view">
    <div class="col-md-12">
      <div class="d-flex flex-column justify-content-center">
          <div class="col">
            <div class="card">
                <div class="card-body card-body-cascade text-center">
                        <h2 class="card-title"><strong>Error</strong></h2>
                        <h2 class="card-title"><strong><%= error.status %></strong></h2>
                        <h6 class="font-weight-bold indigo-text py-2"><%= error.message %></h6>
                </div>
            </div>
        </div>
      </div>
    </div>
</section>

<%- include('footer'); %>
<script type="text/javascript" src="/javascripts/socket.js"></script>
<script type="text/javascript" src="/javascripts/notif.js"></script>