
<footer class="page-footer font-small indigo lighten-1 fixed-bottom">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"><h5>&copy; asmansou 03/2020</h5>
      </div>
      <!-- Copyright -->

      <!-- Copyright -->
    <!-- Compiled and minified JavaScript -->
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/js/mdb.min.js"></script>
    <!-- <link rel="stylesheet" href="https://unpkg.com/vanilla-tags-input/tags-input.css">
    <script src="https://unpkg.com/vanilla-tags-input"></script>
    <script>
      var tagInput1 = new TagsInput({
          selector: 'tag-input',
          duplicate : false,
          max : 10
      });

      // add Data programatically
      tagInput1.addData(['PHP' , 'JavaScript' , 'CSS'])
      // or
      tagInput1.addTag('React');

      // check if there are any erros in the String
      //tagInpu1.anyErrors('another tag');

      // you can destroy the plugin like this
      //tagInput1.destroy();

      // reinitialize it initialize it
      //tagInput1.init()
      
      // you can do all this by method chaining too
      //tagsInput1.init().addTag().addData().destroy().init()

  </script> -->
    <!-- <script type="text/javascript" src="javascripts/tag.js"></script> -->
    <!-- <script type="text/javascript" src="javascripts/tab.js"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
</footer>

</body>
</html>
