<%- include('header'); %>
<%- include('./navs/navAuth'); %>

<section class="view">
      <div class="col-md-12">
        <div class="d-flex flex-column justify-content-center">

          <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
              <!-- Card -->
              <div class="card">
          
                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
          
                 <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title"><strong>Billy Coleman</strong></h4>
    <!-- Subtitle -->
    <h6 class="font-weight-bold indigo-text py-2">Web developer</h6>
    <!-- Text -->
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae.
      Facere modi sunt, quod quibusdam.
    </p>

    <!-- Facebook -->
    <a type="button" class="btn-floating btn-small btn-fb"><i class="fab fa-facebook-f"></i></a>
    <!-- Twitter -->
    <a type="button" class="btn-floating btn-small btn-tw"><i class="fab fa-twitter"></i></a>
    <!-- Google + -->
    <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fab fa-dribbble"></i></a>

  </div>

  <!-- Card footer -->
  <div class="card-footer text-muted text-center">
    2 days ago
  </div>
          
              </div>
              <!-- Card -->
            </div>
            <div class="col mb-4">
              <!-- Card -->
              <div class="card">
          
                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
          
                <!--Card content-->
                <div class="card-body">
          
                  <!--Title-->
                  <h4 class="card-title">Card title</h4>
                  <!--Text-->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <button type="button" class="btn btn-light-blue btn-md">Read more</button>
          
                </div>
          
              </div>
              <!-- Card -->
            </div>
            <div class="col mb-4">
              <!-- Card -->
              <div class="card">
          
                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
          
                <!--Card content-->
                <div class="card-body">
          
                  <!--Title-->
                  <h4 class="card-title">Card title</h4>
                  <!--Text-->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <button type="button" class="btn btn-light-blue btn-md">Read more</button>
          
                </div>
          
              </div>
              <!-- Card -->
            </div>
            <div class="col mb-4">
              <!-- Card -->
              <div class="card">
          
                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
          
                <!--Card content-->
                <div class="card-body">
          
                  <!--Title-->
                  <h4 class="card-title">Card title</h4>
                  <!--Text-->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <button type="button" class="btn btn-light-blue btn-md">Read more</button>
          
                </div>
          
              </div>
              <!-- Card -->
            </div>
          </div>
          
        </div>
      </div>
</section>


<%- include('footer'); %>