<%- include('header'); %>

<!-- Intro -->
<section class="view">
      <div class="col-md-12">
        <div class="d-flex flex-column justify-content-center">
            <!-- Password Reset Email Form -->
                <form class="text-center border border-light p-5">
                    <p class="h4 mb-4">Reinitialisation Of Password</p>
                    <p>Please enter your email, a link to reinitialize your password will be send to you</p>
                    <!-- E-mail -->
                    <input type="email" id="email" class="form-control mb-4" placeholder="E-mail">

                    <!-- Submit button -->
                    <button class="btn btn-info my-4 btn-block" type="submit">Submit</button>
                </form>
        </div>
      </div>
  </section>


<%- include('footer'); %>